<section style="background-color: #e4e4e4;">
    <div class="container-fluid" >
        <div class="row" >
            
            <div class="col-md-6 offset-3">
                <div class="row" >
                    <div class="col-md-2 my-3"><a routerLink="electronics" class="txtstyle">Electronics</a></div>
                    <div class="col-md-2 my-3"><a routerLink="#" class="txtstyle">Fashion</a></div>
                    <div class="col-md-2 my-3"><a routerLink="books" class="txtstyle">Books</a></div>
                    <div class="col-md-2 my-3"><a routerLink="#" class="txtstyle">Furniture</a></div>
                    <div class="col-md-2 my-3"><a routerLink="#" class="txtstyle">Sports</a></div>
                    <div class="col-md-2 my-3"><a routerLink="#" class="txtstyle">Groceries</a></div>
                    
                </div>
            </div>
            
        </div>
    </div>
</section>