<section>
    <div class="container-fluid" style="padding: 15px 0px;">
       <div class="row">
        <div class="col-md-2">
          <div class="card" style="width: 18rem;">
              <div class="card-header">
                Featured
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
        </div>
        
        <div class="col-md-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                    <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                </a>
                                <ul class="social">
                                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                    <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                                <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                          <div class="product-image2">
                              <a href="#">
                                  <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                  <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                              </a>
                              <ul class="social">
                                  <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                  <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                  <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                              <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                    <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                </a>
                                <ul class="social">
                                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                    <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                                <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                    <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                </a>
                                <ul class="social">
                                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                    <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                                <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                    <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                </a>
                                <ul class="social">
                                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                    <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                                <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                          <div class="product-image2">
                              <a href="#">
                                  <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                  <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                              </a>
                              <ul class="social">
                                  <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                  <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                  <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                              <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                    <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                </a>
                                <ul class="social">
                                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                    <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                                <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                    <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                </a>
                                <ul class="social">
                                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                    <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                                <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                    <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                </a>
                                <ul class="social">
                                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                    <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                                <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                          <div class="product-image2">
                              <a href="#">
                                  <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                  <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                              </a>
                              <ul class="social">
                                  <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                  <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                  <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                              </ul>
                              <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                    <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                </a>
                                <ul class="social">
                                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                    <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                                <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="product-grid2">
                            <div class="product-image2">
                                <a href="#">
                                    <img class="pic-1" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                    <img class="pic-2" src="https://images-eu.ssl-images-amazon.com/images/I/41hJFa-AiPL._AC_US160_FMwebp_QL70_.jpg">
                                </a>
                                <ul class="social">
                                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                                    <li><a href="#" data-tip="Add to Wishlist"><i class="fa fa-shopping-bag"></i></a></li>
                                    <li><a href="#" data-tip="Add to Cart"><i class="fa fa-shopping-cart"></i></a></li>
                                </ul>
                                <a class="add-to-cart" href="">Add to cart</a>
                            </div>
                            <div class="product-content">
                                <h3 class="title"><a href="#">Mobiles</a></h3>
                                <span class="price">5000 Rs</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div> 
    </div>
</section>