<nav class="navbar navbar-expand-lg navbar navbar-light sticky-top py-1"  style="background-color: #2874f0;">
  <a class="navbar-brand" href="#">
    <img src="https://i.imgur.com/Exm56Jt.png" height="30" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav" >
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#" >Login</a>
            <a class="dropdown-item" href="#">Logout</a>
            <a class="dropdown-item" href="#">Profile</a>
          </div>
        </li>
      <li class="nav-item">
          <div class="col-auto">
              <label class="sr-only" for="inlineFormInputGroup">Search</label>
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">All</div>
                </div>
                <input type="text" class="form-control search" id="inlineFormInputGroup" placeholder="Search">
              </div>
            </div>
      </li>
      <li class="nav-item">
          <a class="navbar-brand" href="#">
              <img src="https://i.imgur.com/wrPb5t5.png" height="30" class="d-inline-block align-top" alt=""> 
            </a>
        </li>
      <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#modalLRForm">Login/Logout</a>
        </li>
      <li class="nav-item">
          <a class="navbar-brand" href="#">
              <img src="https://i.imgur.com/lbOH4N8.png" height="30" class="d-inline-block align-top" alt=""> cart
            </a>
        </li>
    </ul>
    
  </div>
</nav>

<!--Modal: Login / Register Form-->

  
<div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg " role="document" style="width: 50%;" >
    <div class="modal-content">
      
      <div class="modal-body">
          <div class="container-fluid">
              <div class="row">
              <div class="col-md-4" style="background-color: blue;">
              
              
              </div>
              <div class="col-md-8">
                <img src="assets/img/avatar.png" style="border-radius: 50%;height: 15%;width: 15%;margin-left: 42%;margin-top: 6%;">
                  <div style="padding: 9%;">
                    
              <div class="form-group" >
              <input type="email" class="form-control"  placeholder="Enter E-mail" style="width: 95%;"required> <br>
              </div>
              <div class="form-group" >
              <input type="password" class="form-control" placeholder="Enter Password" style="width: 95%;"required><br>
              </div>
              <button type="button" href="#"  class="btn btn-primary" style="width: 96%;height: 17%;">Login</button>
              <Br><br>
                <a href="#" style="margin-left: 65%;">Forget Password?</a>
              
                  <hr>
              
                  <button type="button" href="#" class="btn btn-light" style="margin-left: 34%;">Request OTP</button>
              
                <div class="forgotpwd" style="margin-top: 14%;margin-left: 22%;">
                  <a data-toggle="modal" data-dismiss="modal"  href="#registerform"><h6 style="color: black;">New to e-cart? Create an account </h6></a>
              
                </div>
              
              </div>
              
              </div>
              
              
              </div>
              
              
              
              
              
              </div>
      </div>
      
    </div>
  </div>
</div>








<div class="modal fade" id="registerform" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg " role="document" style="width: 50%;" >
      <div class="modal-content">
        
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                <div class="col-md-4" style="background-color: blue;">
                
                
                </div>
                <div class="col-md-8">
                    <h1 style="text-align: center;margin-top: 5%;">Signup</h1>
                    <div style="padding: 9%;">
                      
                <div class="form-group" >
                <input type="text" class="form-control" placeholder="Enter First Name" style="width: 95%;"> <br>
                
                
                <input type="text" class="form-control" placeholder="Enter Last Name" style="width: 95%;"required><br>
                <input type="email" class="form-control" placeholder="Enter E-mail" style="width: 95%;"required> <br>
                <input type="password" class="form-control" placeholder="Enter Password" style="width: 95%;"required> <br>
                <input type="password" class="form-control" placeholder="Re-enter Password" style="width: 95%;"required> <br>
                </div>
                <button type="button" href="#"  class="btn btn-primary" style="width: 96%;height: 17%;">Register</button>
                <Br><br>
                
                    <hr>
                
                    
                
                </div>
                
                </div>
                
                
                </div>
                
                
                
                
                
                </div>


             
        </div>
        
      </div>
    </div>
  </div>

